:host {
  position: relative;
  z-index: 10;
  color: #fff;
}

.app-navbar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.app-navbar span {
  text-transform: uppercase !important;
}

.app-angular-logo {
  margin: 0 4px 3px 0;
  height: 26px;
}

.greeting-button {
  display: inline-block;
}

@media screen and (max-width: 600px) {
  .greeting-button {
    display: none;
  }
}
