:host {
  display: block;
  height: 236px;
  padding: 72px 24px;
  box-sizing: border-box;
  background-color: rgb(238, 238, 238);
  text-align: center
}

:host h3 {
  margin: 0px;
  padding: 0px;
  font-weight: 300;
  font-size: 22px;
}

:host a {
  color: #000;
  margin-top: 32px;
}
