<div class="content">
  <p class="title">DRAG AND SCROLL!</p>
  <div class="demo-border">
    <div class="demo-one"
      drag-scroll
      drag-scroll-y-disabled="true"
      scrollbar-hidden="true"
      (leftBound)="leftBoundStat($event)"
      (rightBound)="rightBoundStat($event)"
      #nav>
      <img *ngFor="let image of imagelist" [src]="'assets/img/' + image" (click)="clickItem(image)"/>
    </div>
  </div>
  <div class="demo-button-group">
    <button md-raised-button color="primary" [disabled]="leftNavDisabled" (click)="moveLeft()">left</button>
    <button md-raised-button color="primary" [disabled]="rightNavDisabled" (click)="moveRight()">right</button>
  </div>
  <p class="title">PLAY WITH IT!</p>
  <div class="toggle-box">
    <md-slide-toggle (change)="toggleHideSB()">Hide scrollbar</md-slide-toggle>
    <md-slide-toggle (change)="toggleDisable()">Disable drag/scroll</md-slide-toggle>
  </div>
  <div class="toggle-box">
    <md-slide-toggle (change)="toggleXDisable()">Disable horizontal drag/scroll</md-slide-toggle>
    <md-slide-toggle (change)="toggleYDisable()">Disable vertical drag/scroll</md-slide-toggle>
  </div>
  <div class="demo-border">
    <div class="demo-two"
        drag-scroll [scrollbar-hidden]="hideScrollbar"
        [drag-scroll-disabled]="disabled"
        [drag-scroll-x-disabled]="xDisabled"
        [drag-scroll-y-disabled]="yDisabled">
      <img src='assets/img/star-wars-big.jpg' />
    </div>
  </div>
  <div class="api-table-containter">
    <p class="title">API REFERENCE</p>
    <table class="docs-api-properties-table">
      <tbody>
        <tr class="docs-api-properties-header-row">
          <th class="docs-api-properties-th">Name</th>
          <th class="docs-api-properties-th">Description</th>
          <th class="docs-api-properties-th">Default</th>
        </tr>
        <tr class="docs-api-properties-row">
          <td class="docs-api-properties-name-cell">
            <div class="docs-api-input-marker"> @Input()</div>
            <p class="docs-api-property-name"> scrollbar-hidden </p>
            <code class="docs-api-property-type"></code>
          </td>
          <td class="docs-api-property-description"> Whether the scroll bar for this element is hidden.</td>
          <td class="docs-api-property-description">false</td>
        </tr>
        <tr class="docs-api-properties-row">
          <td class="docs-api-properties-name-cell">
            <div class="docs-api-input-marker"> @Input()</div>
            <p class="docs-api-property-name"> drag-scroll-disabled </p>
            <code class="docs-api-property-type"></code>
          </td>
          <td class="docs-api-property-description"> Whether horizontally and vertically draging and scrolling events is disabled.</td>
          <td class="docs-api-property-description">false</td>
        </tr>
        <tr class="docs-api-properties-row">
          <td class="docs-api-properties-name-cell">
            <div class="docs-api-input-marker"> @Input()</div>
            <p class="docs-api-property-name"> drag-scroll-x-disabled </p>
            <code class="docs-api-property-type"></code>
          </td>
          <td class="docs-api-property-description"> Whether horizontally dragging and scrolling events is disabled.  </td>
          <td class="docs-api-property-description">false</td>
        </tr>
        <tr class="docs-api-properties-row">
          <td class="docs-api-properties-name-cell">
            <div class="docs-api-input-marker"> @Input()</div>
            <p class="docs-api-property-name"> drag-scroll-y-disabled </p>
            <code class="docs-api-property-type"></code>
          </td>
          <td class="docs-api-property-description"> Whether vertically dragging and scrolling events is disabled. </td>
          <td class="docs-api-property-description">false</td>
        </tr>
        <tr class="docs-api-properties-row">
          <td class="docs-api-properties-name-cell">
            <div class="docs-api-input-marker"> @Input()</div>
            <p class="docs-api-property-name"> drag-disabled </p>
            <code class="docs-api-property-type"></code>
          </td>
          <td class="docs-api-property-description"> Disable drag event. </td>
          <td class="docs-api-property-description">false</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-github></app-github>
